<div class = "container-cocktail-show" style = "display: flex; margin-bottom: 100px;">
<div class = "picture" style = "margin-top: 20px;">
<div class="wrapper">
 <div class="cocktail">
   <div class="liquid"></div>
   <div class="ice-cubes">
     <div class="ice-cube ice-cube-1"></div>
     <div class="ice-cube ice-cube-2"></div>
     <div class="ice-cube ice-cube-3"></div>
   </div>
   <div class="lemon-slice"></div>
   <div class="leaves">
     <div class="leave leave-1"></div>
     <div class="leave leave-2"></div>
     <div class="leave leave-3"></div>
   </div>
   <div class="straw"></div>
   <div class="straw-surface"></div>
   <div class="shadow"></div>
  </div>
</div>
</div>



<div class = container-cocktail-review>
<div class="container ">
  <div class="row">
    <div class="col-xs-12" style = "margin-left: 31%;">
      <h1> <%= @cocktail.name %></h1>
      <%= cl_image_tag @cocktail.photo, height: 250, width: 350, crop: :fill %>
      <div class = "btn" style = "display: flex; margin-top: 95%;">

      <div class = "btn-new"> <%= link_to "Back to all cocktails", root_path %></div>
      <div class = "btn-new"> <%= link_to 'Delete cocktail', cocktail_path(@cocktail),  method: :delete, data: { confirm: "Are you sure?" }%></div>
      <div class = "btn-new"> <%= link_to 'Edit cocktail', edit_cocktail_path(@cocktail), method: :get%> </div>

    </div>
   </div>
  </div>
  </div>
 </div>

</div>




